<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation , {
                        isTemplatePage: isTemplatePage, 
                        isEmargementPage: isEmargementPage, 
                        isPromotionPage: isPromotionPage, 
                        isApprenantPage: isApprenantPage
                    } %>
    <main>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 pb-1">
                <% breadcrumb.forEach(element => { %>
                <li class="breadcrumb-item active"><%= element %></li>
                <% }) %>
            </ol>
        </nav>

        <div class="settingHeight60 d-flex justify-content-center align-items-center">
            <div class="formWidth bg-white rounded">
                <h5 class="text-center pt-5 mb-5">Modifications des informations</h5>

                <% include ../includes/messageFlash %>
                
                <form action="/admin/settings/informations" method="POST">
                    <input type="hidden" name="currentuserId" value="<%= currentUserId %>">
                    <div class="my-3 input-group mb-2 mr-sm-2 px-5">
                        <input type="text" name="name" 
                        class="form-control inputBorder mr-3 <%= validationErrors.find(e => e.param === 'name') ? 'border-bottom border-danger' : '' %>"  
                        value="<%= userInfo != null ? userInfo.name : oldInput.name %>">
                        
                        <input type="text" name="surname" 
                        class="form-control inputBorder ml-3 <%= validationErrors.find(e => e.param === 'surname') ? 'border-bottom border-danger' : '' %>"  
                        value="<%= userInfo != null ? userInfo.surname : oldInput.surname %>">
                    </div>

                    <div class="my-3 input-group mb-2 mr-sm-2 px-5">
                        <input type="email" name="email" 
                        class="form-control inputBorder <%= validationErrors.find(e => e.param === 'email') ? 'border-bottom border-danger' : '' %>"  
                        value="<%= userInfo != null ? userInfo.email : oldInput.email %>">
                    </div>

                    <div class="w-100 d-flex mt-5">
                        <a href="/admin" class="btn btn-primary w-50 leftBorder py-3">Annuler</a>
                        <div class="btnDivider"></div>
                        <button type="submit" class="btn btn-secondary w-50 rightBorder py-3"> Modifier </button>
                    </div>

                </form>
            </div>
        </div>
    </main>
    <% include ../includes/footer %>
</body>

</html>