<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation , {
                        isTemplatePage: isTemplatePage, 
                        isEmargementPage: isEmargementPage, 
                        isPromotionPage: isPromotionPage, 
                        isApprenantPage: isApprenantPage
                    } %>

    <main>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 pb-1">
                <% breadcrumb.forEach(element => { %>
                <li class="breadcrumb-item active"><%= element %></li>
                <% }) %>
            </ol>
        </nav>

        <div class="w-50 mx-auto">
            <% include ../includes/messageFlash %>
        </div>

        <div class="row no-gutters px-5 mt-0 justify-content-around">

            <% if (signoffsheetData.length == 0) { %>
            
            <h5 class="alert alert-info my-5 text-center"> Aucune feuille d'emargement n'a été trouvé ! </h5>
            
            <% } else { %>
                <% signoffsheetData.forEach(signoffInfo => { %>
                <div class="card col-12 col-lg-3 col-sm-6 col-xl-3 my-2 mx-3">
                    <div class="card-header mb-0 bg-transparent p-0 d-flex justify-content-end border-0">
                        <p class="mt-2 mr-4 mb-0 version"> version <%= signoffInfo.version %> </p>
                    </div>
                    <div class="card-body mb-0">
                        <h5 class="card-title mt-0 font-weight-bold text-center">Emargement</h5>
                        <p class="text-center my-1"> <%= signoffInfo.templateId.organisme %><br> <%= signoffInfo.timeStart %> au
                            <%=signoffInfo.timeEnd %> <br>
                        </p>
                        <p class="text-center my-0">
                            <%= signoffInfo.templateId.intitule %>
                        </p>
                    </div>
                    <div class="card-footer p-0 d-flex">
                        <% if (signoffInfo.fileExist) { %>
                            <a href="/admin/emargements/<%= signoffInfo._id %>" class="btn btn-primary w-50 leftBorder py-2">Visualiser</a>
                        <% } else  { %>
                            <form action="/admin/emargements/generate" method="POST" class="w-50">
                                <input type="hidden" id="emargementId" name="emargementId" value="<%= signoffInfo._id %>">
                                <button type="submit" class="btn btn-primary w-100 leftBorder py-2"> Générer</button>
                            </form>
                        <% } %>
                        <div class="btnDivider"></div>
                        <button class="btn btn-secondary w-50 rightBorder py-2 btnSynchroInfo" data-id="<%= signoffInfo._id %>"
                            data-toggle="modal" data-target="#modalSynchro">Synchroniser</button>
                    </div>
                </div>
                <% }) %>
            <% } %>

        </div>
    </main>

    <% include ../includes/paginations , {
                                    currentPage: currentPage, 
                                    nextPage: nextPage, 
                                    previousPage: previousPage, 
                                    lastPage: lastPage, 
                                    hasNextPage: hasNextPage,
                                    hasPreviousPage: hasPreviousPage,
                                    total: total
                                }) %>

    <div class="modal fade" id="modalSynchro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-0">
                <h5 class="font-weight-bold p-0 text-center my-5"> Voulez-vous vraiment synchroniser les données ?</h5>
                <p class="text-center mb-5">Attention, la synchronisation écrase les données existantes</p>
                <form class="modal-body w-100 p-0" action="/admin/emargements/synchro" method="POST">
                    <input type="hidden" id="emargementId" name="emargementId" value="">
                    <div class="card-footer p-0 d-flex">
                        <button class="btn btn-primary w-50 leftBorder py-2" data-dismiss="modal">Non</button>
                        <div class="btnDivider"></div>
                        <button type="submit" class="btn btn-secondary w-50 rightBorder py-2">Oui</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-0">
                <div class="card-header bg-transparent font-weight-bold">
                    Ajouter une feuille d’émargement
                </div>
                <form class="modal-body w-100 p-0" action="/admin/emargements/add" method="POST">
                    <div class="p-4">
                        <div class="my-3 mb-2 mr-sm-2">
                            <label class="mb-1" for="googleSheetUrl" style="margin-left: 16px;">Lien du Google Sheet</label>
                            <input style="padding-left: 16px !important;" type="url" class="form-control inputBorder" id="googleSheetUrl" name="googleSheetUrl" placeholder="Coller le lien ici">
                        </div>
                        <div class="my-3 mb-2 mr-sm-2">
                                <label class="mb-1" for="pageNumber" style="margin-left: 16px;">Numéro de la feuille</label>
                            <input required style="padding-left: 16px !important;" type="number" steps="1" min="1" class="form-control inputBorder" id="pageNumber" name="pageNumber" placeholder="1">
                        </div>
                        <div class="mb-4 mb-2 mr-sm-2">
                            <label class="mb-1" for="template" style="margin-left: 16px;">Le template</label>
                            <select class="form-control inputBorder inputSelect" name="template" id="template">
                                <option value="">Choix du template à utiliser</option>
                                <% templateInfo.forEach(templates => { %>
                                    <option value="<%= templates._id %>"><%= templates.name %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer p-0 d-flex">
                        <button class="btn btn-primary w-50 leftBorder py-2" data-dismiss="modal">Annuler</button>
                        <div class="btnDivider"></div>
                        <button type="submit" class="btn btn-secondary w-50 rightBorder py-2">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <% include ../includes/footer %>
    <script src="/js/emargements/emargementAdd.js"></script>
    <script src="/js/emargements/emargementScript.js"></script>
</body>

</html>