<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation %>
        <main class="container-fluid">
            <% include ../includes/messageFlash %>

            <% if (signoffsheetData.length == 0) { %>
            <div class="row no-gutters justify-content-center align-items-center py-5">
                <div class="d-flex justify-content-center w-100">
                    <h5 class="alert alert-info my-5"> Aucune feuille d'emargement n'a été trouvé ! </h5>
                </div>
            </div>
            <% } else { %>
            <div class="row no-gutters justify-content-center align-items-center py-5">
                <% signoffsheetData.forEach(signoffInfo => { %>
                <div class="col-3 px-2">
                    <div class="card bg-light">
                        <div class="card-header bg-white font-weight-bold" style="font-size: 10px;">
                            Version <%= signoffInfo.version %>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-center font-weight-bold">Feuille émargement <br>
                                <%= signoffInfo.timeStart %> au <%=signoffInfo.timeEnd %></h6>
                            <div class="text-center">
                                <p class="card-text"><%= signoffInfo.templateId.intitule %></p>
                                <p class="card-text"><%= signoffInfo.templateId.organisme %></p>
                            </div>
                        </div>
                        <div class="card-footer border-top bg-white d-flex justify-content-around py-2">

                            <% if (signoffInfo.fileExist) { %>
                            <a class="btn btn-primary px-3 font-weight-bold" href="/data/pdf/<%= signoffInfo.name %>"> Télécharger </a>
                            <% } else  { %>
                            <a class="btn btn-primary px-3 font-weight-bold" href="/admin/signoffsheet/generate/<%= signoffInfo._id %>"> Générer </a>
                            <% } %>

                            <form action="/admin/signoffsheet/synchro" method="POST">
                                <input type="hidden" name="signoffId" value="<%= signoffInfo._id %>">
                                <button type="submit" class="btn btn-info px-3 font-weight-bold" onclick="return confirm('Attention les données vont être écrasées');"> Synchroniser</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
            <% } %>
        </main>
        
    <% include ../includes/footer %>

    <% include ../includes/modals , {templateInfo: templateInfo} %>
    <% include ../includes/modalsTemplate %>

    <script src="/js/modal.js"></script>
    <script src="/js/modalTemplate.js"></script>
</body>

</html>